
body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  color: #ffffff;
  font-weight: 600;
  font-size: 70px;
  letter-spacing: 7px;
}
